[Unit]
Description=Start Netrics
Requires=network-online.target 
After=network-online.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/etc/netrics_gcp/startup_netrics.sh

[Install]
WantedBy=multi-user.target
